# Created by venv; see https://docs.python.org/3/library/venv.html
scripts/bin/
scripts/include/
scripts/lib/
scripts/lib64/
scripts/share/
scripts/pyvenv.cfg
*/__pycache__/
*.png
!modèle.png
*.dot
*.html